*.la
*.lo
*.o
*.pc
*.stamp
.deps
.libs
.version
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
avr-valac
compile
compiler.c
config.guess
config.h
config.h
config.h.in
config.log
config.status
config.sub
configure
debian/*.substvars
debian/*debhelper*
debian/avr-vala/
debian/files
debian/tmp
depcomp
doc/
install-sh
libtool
ltmain.sh
m4/*lt*
m4/libtool.m4
missing
stamp-h1
